@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0 auto;
  background-color: #706b6b;
  color: #fff;
}
.content {
  justify-content: center;
  align-items: center;
  text-align: center;
}
